{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block content %}
    <h1>Article index</h1>

    {# Savoir qui est connecté #}
    <p>{{ app.user ? app.user.email : '' }}</p>

    {# Afficher la table uniquement si l'utilisateur est connecté #}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    
    <table class="table">
        <thead>
            <tr class="border">
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td class="border">{{ article.id }}</td>
                <td class="border">{{ article.title }}</td>
                <td class="border">{{ article.content }}</td>
                <td>
                    <a href="{{ path('app_article_show', {'id': article.id}) }}">show</a>
                    <a href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        
    </table>
    {% endif %}

    <a href="{{ path('app_article_new') }}">Create new</a>
{% endblock %}
