{% extends 'base.html.twig' %}

{% block body %}
	<div>
		{{ form_start(form, {
            "attr": {
                "class": "pt-10 p-4"
            }
        }) }}

		{{ form_label(form.email, null, {
            "label_attr": {
                "class": "bg-regal-blue text-white p-1"
            }
        }) }}
		{{ form_widget(form.email, {
            "attr": {
                "class": "border border-black p-1",
                "placeholder": "Email"
            }
        }) }}

		{{ form_label(form.password, null, {
            "label_attr": {
                "class": "bg-regal-blue text-white p-1"
            }
        }) }}
		{{ form_widget(form.password, {
            "attr": {
                "class": "border border-black p-1",
                "placeholder": "Password"
            }
        }) }}

		{{ form_row(form.submit, {
            "attr": {
                "class": "mt-5"
            }
        }) }}

        <!-- Ajouter un token-->
        {# {{ form_widget(form._token) }} #}

		{{ form_end(form) }}
	</div>
{% endblock %}
